<extend name="Common:add"/>

<block name="mainBody">
    <div id="tabbody-div">
        <form action="{:U('')}" method="post">
            <table width="90%" id="general-table" align="center">
                                    <tr>
                        <td class="label">供应商名称</td>
                                                <td><input type="text" name="name" value="{$name}" size="30" />
                                            </tr>
                                    <tr>
                        <td class="label">排序</td>
                                                <td><input type="text" name="sort" value="{$sort}" size="30" />
                                            </tr>
                                    <tr>
                        <td class="label">供应商简介</td>
                                                <td><textarea name="intro" cols="40" rows="3">{$intro}</textarea></td>
                                            </tr>
                                    <tr>
                        <td class="label">是否显示</td>
                                                <td>
                                                        <input type="radio" class="status" name="status" value="1"/>是                                                        <input type="radio" class="status" name="status" value="0"/>否                                                    </td>
                                            </tr>
                            </table>
            <div class="button-div">
                <input type="hidden" name="id" value="{$id}">
                <input type="button" value=" 确定 " class="ajax-post"/>
                <input type="reset" value=" 重置 " class="button" />
            </div>
        </form>
    </div>
</block>